.show{
    color: white;
}

.hide{
    display: none;
}

.show:hover{
    cursor: pointer;
    color: rgb(186, 177, 177);
}

.sidebar i{
    color: white;
}

.sidebar{
    position: absolute;
    top: 72px;
    background-color: #17153B;
    width: fit-content;
    height: 90vh;
}

.dashboard,.add-faculty,.add-student,.assign-faculty,.settings{
    padding: 5px 20px 5px 20px;
}

.fa-user:hover{
    cursor: pointer;
    color: rgb(186, 177, 177);
}

.fa-bars:hover{
    cursor: pointer;
    color: rgb(186, 177, 177);
}

.fa-user-plus:hover{
    cursor: pointer;
    color: rgb(186, 177, 177);
}

.fa-house:hover{
    cursor: pointer;
    color: rgb(186, 177, 177);
}

.fa-user-group:hover{
    cursor: pointer;
    color: rgb(186, 177, 177);
}

.fa-people-group:hover{
    cursor: pointer;
    color: rgb(186, 177, 177);
}

.fa-gear:hover{
    cursor: pointer;
    color: rgb(186, 177, 177);
}

.fa-book-open:hover{
    cursor: pointer;
    color: rgb(186, 177, 177);
}