@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Custom CSS for DashboardHOD */
html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.sidebar {
  height: 100vh;
  padding-top: 20px;
  position: fixed;
  top: 3rem;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 200px; /* Set a consistent width for the sidebar */
  transition: all 0.3s;
  z-index: 5;
}

.main-content{
  width: 100vw;
  background-color: red;
  height: 90vh;
}


@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Adjust width for small screens */
    height: 100%;
    z-index: 1040;
    transition: transform 0.3s ease-in-out;
  }

}
