@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Custom CSS for DashboardHOD */
html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  margin-bottom: 0;
}

.sidebar {
  height: 100vh;
  padding-top: 20px;
  position: fixed;
  top: 3rem;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 200px; /* Set a consistent width for the sidebar */
  transition: all 0.3s;
  z-index: 5;
}

.sidebar .nav-link {
  font-size: 1.1rem;
  padding: 10px;
}

.sidebar .nav-link.active {
  background-color: #495057;
}

.card {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card-title {
  color: #000;
}

.main-content {
  position: absolute;
  left: 0rem;
}

@media (min-width: 1024px) {
  .main-content {
    left: 5rem; /* Set the margin to the width of the sidebar */
  }
}

.form-group label {
  font-weight: bold;
}

/* Change the color of the navbar toggler icon to white */
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Ensure the sidebar collapses correctly */
.sidebar {
  height: 100vh;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Adjust width for small screens */
    height: 100%;
    z-index: 1040;
    transition: transform 0.3s ease-in-out;
  }

  .sidebar.collapse:not(.show) {
    transform: translateX(-100%);
  }

  .main-content {
    margin-left: 0; /* Remove margin for main content on small screens */
  }
}
