/* LandingPage.css */
.vh-100 {
    min-height: 100vh;
    color: white;
}

.card {
    border: none;
    border-radius: 1rem;
}

.card-title {
    font-size: 2rem;
    color: #6a11cb;
}

.card-text {
    font-size: 1.2rem;
}

.btn-primary {
    background-color: #6a11cb;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #5a0cbf;
}

.custom-btn {
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: white;
}

.custom-btn:hover {
    text-decoration: none;
    color: white;
}
